.movie-card {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.2s;
  cursor: pointer;
  height: 350px;
  /* Reduzido para melhor proporção */
  width: 220px;
  /* Reduzido para caber mais cards em uma linha */
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.movie-card:hover {
  transform: scale(1.05);
}

button{
  background-color: red;
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s;
  &:hover {
    background-color: darkred;
  }
}

.movie-poster {
  width: 100%;
  /* O poster agora ocupa toda a largura do card */
  height: 200px;
  /* Altura proporcional para o poster */
  object-fit: cover;
  /* Mantém proporção e corta se necessário */
}

.movie-info {
  padding: 0.5rem 1rem;
  text-align: center;
}

.movie-title {
  font-size: 1rem;
  margin: 0 0 0.3rem 0;
}

.movie-overview {
  font-size: 0.8rem;
  color: #666;
  flex-grow: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  /* Limita a 3 linhas */
  -webkit-box-orient: vertical;
}

.movie-details {
  display: flex;
  justify-content: space-between;
  margin-top: 0.5rem;
  font-size: 0.75rem;
  color: #333;
}